# Adding files to git.ignore
All_and_1617.csv
All_Data.csv
All_NO_1617.csv
CDS to District Name Mapping.xlsx
Final Project.twbx
Schema.png
schema1.sql

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


